{% extends  'pharmacist_index.html' %}
{% block body %}

<br><br><br>
  <form action="/myapp/doc_add_leave/" method="post">
<h2 align="center"> LEAVE APPLICATION</h2>
<table align="center" class="table table-bordered" style="width: 400px" >
  <tr>
    <td>REASON</td>
    <td><textarea name="reason" cols="45" rows="5" required></textarea></td>
  </tr>
  <tr>
    <td>From Date</td>
    <td><input type="date" name="date" class="form-control" required></td>
  </tr>
    <tr>
    <td>To Date</td>
    <td><input type="date" name="todate" class="form-control" required></td>
  </tr>
    <tr>
    <td>Leave Type</td>
    <td><input type="text" name="type" class="form-control" required></td>
  </tr>
  <tr>
    <td></td>
    <td><input name="" type=Submit value="APPLAY" class="btn-success"/></td>
  </tr>
</table>

</form>
{% endblock %}
