{% extends  'pharmacist_index.html' %}
{% block body %}<br><br>
<h3 STYLE="background-color:#01a9ac;color:white" align="center">SALE</h3>
    <br><br><br>

<form action="/myapp/add_sale/" method="post"><table align="center" class="table table-bordered" style="width: 400px">
  <tr>
    <td style="color: #00acee">Patient name</td>
    <td>{{ pat_name }}</td>
</tr>




</table>

<table align="center" class="table table-bordered" style="width: 1000px">
    <th>Sl.No</th>
    <th>Prescription</th>
    <th>Date</th>
    <th>Medicine Name</th>
    <th>Quantity</th>
    <th>Unit</th>




    {% for i in data2 %}
  <tr>
    <td>{{ forloop.counter }}</td>
      <td>{{ i.pre_name }}</td>
      <td>{{ i.date }}</td>
    <td>{{ i.mname }}</td>
    <td>{{ i.qty }}</td>
    <td>{{ i.unit }}</td>


  </tr>
    {% endfor %}

</table>
 <br><br><br>

<h3 STYLE="background-color:#01a9ac;color:white" align="center">ADD MEDICINE</h3>
 <br><br><br>
<table align="center" class="table table-bordered" style="width: 400px">
  <tr>
    <td>Medicine Name</td>
    <td><select name="select" class="form-control">
        {% for i in data3 %}
            <option value="{{ i.id }}">{{ i.MEDICINE.name }}-{{ i.MEDICINE.campany }}-{{ i.b_name }}</option>
        {% endfor %}
 </select></td>
  </tr>


  <tr>
    <td>Quantity</td>
    <td><input type="number" class="form-control" name="qty" ></td>

  <tr>
    <td></td>
    <td><input name="btn" type="submit" value="Add" class="btn-success" style="width: 150px;height: 40px" /></td>
  </tr>
</table>
<br><br><br>
<h3 STYLE="background-color:#01a9ac;color:white" align="center">VIEW MEDICINE</h3>
<br><br><br>

    <table align="center" class="table table-bordered" style="width: 1000px">
  <tr>
    <th>Sl.no</th>
    <th>Medicine Name</th>
    <th>Quantity</th>
    <th>Unit</th>


    <th>Company</th>
    <th>Tax</th>

       <th>Unit Amount</th>
      <th>Total Amount</th>



    <th></th>

  </tr>
        {% for i in tt %}
  <tr>

    <td>{{forloop.counter  }}</td>
    <td>{{ i.medname }}</td>
    <td>{{ i.qnty }}</td>
    <td>{{ i.unit }}</td>
    <td>{{ i.cmpy }}</td>
    <td>{{ i.tax }}</td>
    <td>{{ i.untamt }}</td>
      <td>{{ i.tamt }}</td>





    <td><a href="/myapp/ph_del_salesub/{{ i.pk }}">Remove</a></td>
  </tr>
        {% endfor %}
    <tr><td STYLE="color: #0000FF">Booking Fee
  </td>
    <td STYLE="color: #0000FF">{{ fee }}</td>
  <tr><td STYLE="color: #FF0000">Total Amount
  </td>
    <td STYLE="color: #FF0000">{{ tm }}</td>
    </tr>
    <tr>
    <td><input name="btn" type="submit" value="Finish" class="btn-success" style="width: 150px;height: 40px;background-color: #0a6aa1"/></td>
  </tr>
</table>
    </form>
{% endblock %}