<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1 align="center">Add sale</h1>
<table align="center">
  <tr>
    <td>Medicine Name</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Qyantity</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td></td>
    <td><input name="" type="button" value="Add" /></td>
  </tr>
</table><table align="center">
  <tr>
    <th>Sl.no</th>
    <th>Medicine Name</th>
    <th>Quantity</th>
    <th>Remove</th>
    
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Remove</a></td>
  </tr>
  <tr>
    <td></td>
    <td><input name="" type="button" value="Finish" /></td>
  </tr>
</table>

</body>
</html>
