{% extends  'pharmacist_index.html' %}
{% block body %}<br><br>
<h1 align="center">VIEW OUT OF STOCK MEDICINE</h1><br><br>
<form action="/myapp/adm_view_medicine/" method="post"><table align="center">


{#    <tr>#}
{#        <td>Medicine Name &nbsp;&nbsp;</td>#}
{#        <td><input type="text" name="text" class="form-control"/></td>#}
{#        <td></td>#}
{#        <td><input type="submit" name="search" value="Go" class="btn btn-success"/></td>#}
{#    </tr>#}
{#</table>#}
<p></p>


<table class="table table-bordered" style="width: 1000px" align="center">
  <tr>
    <th>Sl.No</th>
    <th>Batch Name</th>
    <th >Medicine Name</th>
    <th >Company</th>





  </tr>
    {% for i in data %}
  <tr>
   <td>{{ forloop.counter }}</td>
    <td>{{ i.BATCH.b_name}}</td>
    <td>{{ i.BATCH.MEDICINE.name }}</td>
    <td>{{ i.BATCH.MEDICINE.campany }}</td>

  </tr>
    {% endfor %}
</table>


</form>
{% endblock %}