{% extends  'pharmacist_index.html' %}
{% block body %}<br><br>
<h1 align="center">VIEW BATCH</h1><br><br>
<form action="/myapp/adm_view_medicine/" method="post"><table align="center">
    <input type="hidden" NAME="id" value="{{ data.id }}" >

{#    <tr>#}
{#        <td>Medicine Name &nbsp;&nbsp;</td>#}
{#        <td><input type="text" name="text" class="form-control"/></td>#}
{#        <td></td>#}
{#        <td><input type="submit" name="search" value="Go" class="btn btn-success"/></td>#}
{#    </tr>#}
{#</table>#}
<p></p>


<table class="table table-bordered" style="width: 1300px" align="center">
  <tr>
    <th>Sl.No</th>
    <th>Batch Name</th>
    <th >Medicine Name</th>
    <th >Company Name</th>
    <th>Manufacture Date</th>
    <th>Expire Date</th>
    <th>Total Amount</th>
    <th>Unit Amount</th>



    <th colspan="2">Action</th>
  </tr>
    {% for i in data %}
  <tr>
   <td>{{ forloop.counter }}</td>
    <td>{{ i.b_name}}</td>
    <td>{{ i.MEDICINE.name }}</td>
    <td>{{ i.MEDICINE.campany }}</td>
    <td>{{ i.man_date }}</td>
    <td>{{ i.exp_date }}</td>
    <td>{{ i.total_amount }}</td>
    <td>{{ i.unit_amount }}</td>
    <td align="center"><a href="\myapp\adm_edit_batch\{{ i.pk }}">Edit</a></td>
    <td align="center"><a href="\myapp\adm_delete_batch\{{ i.id }}">Delete</a></td>
  </tr>
    {% endfor %}
</table>


</form>
{% endblock %}