<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1 align="center"> View Stock</h1>
<form id="form1" name="form1" method="post" action="">

</form><table width="1597" height="175" align="center">
  <tr>
    <th width="52" height="93">Sl.No</th>
    <th width="96">Medicine Id</th>
    <th width="91">Medicine Name</th>
    <th width="81">Quantity</th>
    <th width="106">Type</th>
    <th width="101">Price</th>
    <th width="101">Update</th>
    
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    

    <td align="center"><a href="#">Update</a></td>
  </tr>
</table>

</body>
</html>
