{% extends  'adminindex.html' %}
{% block body %}<br><br>
<h2 align="center">ADD OFFLINE PATIENTS</h2><br><br>
<form action="/myapp/adm_offline_patients/" onsubmit="return validate()" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<table  class="table table-bordered" style="width: 400px;" align="center">
  <tr>
    <td>Name</td>
    <td><input name="txt_name" id="txt_name" type="text" class="form-control" required  /></td>
  </tr>
  <tr>
    <td>Age</td>
    <td><input name="age" id="age" type="number" class="form-control" required /></td>
  </tr>

  <tr>
    <td>Gender</td>
    <td><input name="radio_gender" type="radio" value="Female" checked />Female
      <input name="radio_gender" type="radio" value="Male" />Male</td>
  </tr>
  <tr>
       <td>Doctor Name</td>
    <td><select name="select" class="form-control" required>
        {% for i in data %}
            <option value="{{ i.id }}">{{ i.emp_name }}</option>
        {% endfor %}
    </select>
    </td>
  </tr>
<tr>
    <td>Time</td>
    <td><input name="time" type="time"  class="form-control" required/></td>
  </tr>
<tr>
    <td>Place</td>
    <td><input name="txt_place" type="text"  class="form-control" required/></td>
  </tr>
  <tr>
    <td>House Name </td>
    <td><input name="txt_hname" type="text" class="form-control"  required/></td>

  </tr>
     <tr>
    <td>State</td>
    <td><input name="txt_state" type="text" value="{{ data.state }}" class="form-control" required/></td>
  </tr>
  <tr>
    <td>District </td>
    <td><select name="txt_district"  class="form-control" required>
        <option>TRIVANDROM</option>
        <option>ALAPPUZHA</option>
        <option>PATHANAMTHITTA</option>
        <option>IDUKKI</option>
        <option>ERANAKULAM</option>
        <option>THRISSUR</option>
        <option>PALAKKAD</option>
        <option>MALAPPURAM</option>
        <option>CALICUT</option>
        <option>WAYANAD</option>
        <option>KANNUR</option>
        <option>KASARAGOD</option>
    </select></td>

  </tr>
  <tr>
    <td>Pincode</td>
    <td><input name="txt_pincode" type="number" class="form-control" required pattern="[0-9]{6}"/></td>

  </tr>

  <tr>
    <td>Email Id</td>
    <td><input name="txt_email" type="email"  class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" /></td>
  </tr>
   <tr>
    <td>Phone Number</td>
    <td><input name="txt_phno" type="text"  class="form-control" required pattern="[789][0-9]{9}"/></td>
  </tr>

    <tr>
        <td colspan="2"align="center">
            <input type="submit" value="ADD" class="btn btn-success"/>
        </td>
    </tr>
</table>

</form>
<style>
.form-control{
    background-color: #ffffff;
    color: #000000;
}
</style>
    <script src="/static/jquery.min.js"></script>
       <script>

       var i
 $(document).ready(function () {



        $(document).on('change', '#select', function () {

            var nid = $(this).val();
            if(nid=="Doctor"){
              $("#trr").show();
            }
            else {
                 $("#trr").hide();
            }
        });
});
       </script>
    <script>
       var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy-18+'-'+mm+'-'+dd;
document.getElementById("txt_dob").setAttribute("max", today);

  function validate(){
    var regex = /^[a-zA-Z ]+$/;

    var txt_name=document.getElementById('txt_name');
    if(regex.test(txt_name.value) == false){
   alert("Name must be in alphabets only");
   txt_name.focus();
   return false;
    }


    return true;
  }

        </script>

{% endblock %}