{% extends  'adm_index.html' %}
{% block body %}

<br><br><br>
<style>
.img{
    margin-left: 500px;
}
{#.h1{#}
{#    background-color:#40E0D0 ;#}
{#    width: 1000px;#}
{#    height: 65px;#}
{#    margin-left: 300px;#}
{##}
{#}#}
</style>
    <div class="h1">

<h1 align="center" style="color:#40E0D0">WELCOME TO DAYA</h1>
    </div>
    <div class="img">
   <img src="/static/home back.png" align="left" width="600px" height="600px"/>
    </div>
{#<form action="" method="get">#}
{#    <p><a href="/myapp/adm_employee_registration/">Add Employee</a> </p>#}
{#    <p><a href="/myapp/adm_view_employee/">View Employee</a> </p>#}
{#    <p><a href="/myapp/adm_add_tips/">Add Tips</a> </p>#}
{#    <p><a href="/myapp/adm_view_tips/">View Tips</a> </p>#}
{#    <p><a href="/myapp/adm_delete_tips/">Delete Tips</a> </p>#}
{#    <p><a href="/myapp/adm_add_about/">Add About</a> </p>#}
{#    <p><a href="/myapp/adm_view_about/">View About</a> </p>#}
{#    <p><a href="/myapp/adm_add_attendance/">Add Attendance</a> </p>#}
{#    <p><a href="/myapp/adm_view_attendance/">View Attendance</a> </p>#}
{##}
{#    <p><a href="/myapp/adm_add_services/">Add Services</a> </p>#}
{#    <p><a href="/myapp/adm_view_services/">View Services</a> </p>#}
{##}
{#    <p><a href="/myapp/adm_add_schedule/">Add Schedule</a> </p>#}
{#    <p><a href="/myapp/adm_view_schedule/">View Schedule</a> </p>#}
{#    <p><a href="/myapp/adm_view_booking_info/">View Booking Info</a> </p>#}
{#    <p><a href="/myapp/adm_add_attendance/">View Checkin Info</a> </p>#}

{#    <p><a href="/myapp/adm_leave_approval">View Leave request and Approve</a> </p>#}
{#    <p><a href="/myapp/adm_view_patients/">View Patients</a> </p>#}
{#    <p><a href="/myapp/adm_feedback/">View Feedback</a> </p>#}
{##}
{##}
{#    <p><a href="/myapp/adm_view_sales_report_main/">View Sales Report</a> </p>#}
{#    <p><a href="/myapp/admin_view_stock/">View Stock</a> </p>#}
{#</form>#}

{% endblock %}

