{% extends  'adminindex.html' %}
{% block body %}
<h1 align="center">Leave Request</h1>
<form action="adm_accept_leave" method="post">
<table class="table table-bordered" align="center" style="width: 1000px">
  <tr>
    <th>Sl.No</th>
    <th>Employee Name</th>
    <th>From Date</th>
    <th>To Date</th>
    <th>Reason</th>
    <th>Type</th>
    <th >Action</th>
  </tr>
     {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.EMPLOYEE.emp_name }}</td>
    <td>{{ i.date }}</td>
    <td>&nbsp;{{ i.to_date }}</td>
    <td>{{ i.reason }}</td>
    <td>{{ i.type }}</td>

    <td align="center"><input name="btn" type="submit" class="btn-success" value="Approve"/></td>
  </tr>
    {% endfor %}
</table>


</form>
{% endblock %}