{% extends  'adm_index.html' %}
{% block body %}
<h1 align="center">Leave Request</h1>
<form action="" method="get">
<table border="1" align="center">
  <tr>
    <th width="85">Sl.No</th>
    <th width="179">Employee Name</th>
    <th width="146">Date</th>
    <th width="146">Reason</th>
    <th width="146">Action</th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center"><input name="" type="button"  value="Approve"/></td>
  </tr>
</table>


</form>
{% endblock %}