{% extends  'adminindex.html' %}
{% block body %}
<h1 align="center"> SALES REPORT</h1>
<form action="/myapp/adm_view_sales_report_main/" method="post">
<table class="table table-bordered" style="width: 400px" align="center">
    <tr>
        <td>From Date</td>
        <td><input type="date" name="date1" required class="form-control"></td>
        <td>To Date</td>
        <td><input type="date" name="date2" required class="form-control"></td>
        <td><input type="submit" name="search" value="Go" class="btn-success"></td>

    </tr>
</table>
<table class="table table-bordered" align="center">


  <tr>
    <th >Sl.No</th>
    <th>Patient Name</th>
    <th >Date</th>

   
    <th>Total Price</th>
    <th>Medicine</th>

  </tr>
    {% for i in data %}
  <tr>

    <td>{{ forloop.counter }}</td>
    <td>{{ i.PATIENT.patient_name }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.total_amount }}</td>


    

    <td align="center"><a href="\myapp\adm_view_medicine_sale\{{i.pk }}">View Medicines</a></td>
  </tr>
    {% endfor %}

<tr>
    <td>TOTAL:</td>
    <td>{{ tot }}</td>
</tr>
</table>

</form>
{% endblock %}
