{% extends  'adm_index.html' %}<input type="hidden" NAME="id" value="{{ data.hid }}" >
{% block body %}

<h1 align="center">UPDATE SERVICES</h1>
<form action="/myapp/adm_update_service/" method="POST">
<input type="hidden" NAME="id" value="{{ data.hid }}" >
    {% csrf_token %}
<table border="" align="center" class="table table-bordered" style="width: 500px">
  <tr>
    <td >Enter services</td>
    <td ><textarea name="service" cols="45" rows="5" class="form-control">{{ data.services }} </textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center"><input name="Add" Value="Update" type="SUBMIT" class="btn btn-success" /></td>
  </tr>
</table>
</form>
<style>
.form-control{
    background-color: #ffffff;
    color: #000000;
}
</style>
{% endblock %}