{% extends  'adminindex.html' %}
{% block body %}
<form action="" method="get">
<table border="1" align="center"
>
  <tr>
    <td>FROM DATE</td>
    <td><select name=""></select></td>
    <td>TO DATE</td>
    <td><select name=""></select></td>
    
  </tr>
</table>
<table border="1" align="center">
  <tr>
    <th >Sl.No</th>
    <th>Employee Name</th>
    <th >Status</th>
    
   <th>Employee Type</th>
   <th>Date</th>

    
    
  </tr>
  <tr>
    <td></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td></td>a
    <td></td>

    


  </tr>
</table>

</form>
{% endblock %}
