{% extends  'adminindex.html' %}
{% block body %}
    <br>
    <br><br>
<h1 align="center"> VIEW BOOKING</h1>
<form id="form1" name="form1" method="post" action="/myapp/adm_view_booking_info/">
<table class="table table-bordered" align="center" style="width: 400px" >
    <tr>
        <td>Paitent Name</td>
        <td><input type="text" name="pat" class="form-control"/></td>
          <td><input  class="btn-success" type="submit" id=""name="" value="GO"/></td>
    </tr>

</table>

<table  class="table table-bordered" style="width: 1000px" align="center">
  <tr>
    <th >Sl.No</th>
    <th >Patient Name</th>
    <th >Age</th>
    <th >Gender</th>
    <th >Doctor Name</th>

    <th >Address</th>

    <th ><p>Phone Number</p></th>



  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.PATIENT.patient_name }}</td>
    <td>&nbsp;{{ i.PATIENT.age }}</td>
    <td>{{ i.PATIENT.gender }}</td>
    <td>{{ i.EMPLOYEE.emp_name }}</td>
    <td>{{i.PATIENT.housename }}<br>{{ i.PATIENT.place }}<br>{{ i.PATIENT.district }}<br>{{ i.PATIENT.state }}<br>{{ i.PATIENT.pincode }}</td>

    <td>{{ i.PATIENT.phone_number }}</td>





  </tr>
    {% endfor %}
</table>
    </form>
      <style>
     .form-control{
         background-color: #ffffff;
         color:#000000;
         }
    </style>
{% endblock %}
