{% extends  'doctorindex.html' %}
{% block body %}
<form action="/myapp/doc_add_prescription_post/" method="post">
<br>
<br>
<br>
<h1 align="center">ADD MEDICINE</h1><br>
<br>
<br>
<table class="table table-bordered" style="width: 400px;" align="center">
<tr>
    <td>Patient name</td>
    <td>{{ pat_name }}</td>
</tr>
<tr>
    <td>Date</td>
    <td>{{ date }}</td>
</tr>
  <tr>
    <td>Medicine Name</td>
    <td><select name="select" class="form-control" required>
        {% for i in data %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
</td>
  </tr>
  <tr>
    <td>Prescription</td>
    <td><textarea name="pres" cols="50" rows="5" class="form-control"></textarea></td>
  </tr>
  <tr>
    <td>Quantity</td>
    <td><input name="qty" type="text" class="form-control" /></td>
  </tr>
   <tr>
    <td>Unit</td>
    <td><input name="unit" type="text" class="form-control" /></td>
  </tr>
  <tr>
    <td></td>
    <td><input name="button" type="submit" value="Add" class="btn-success" /></td>
  </tr>
</table><table class="table table-bordered" style="width:1000px" align="center">
  <tr>
    <th>Sl.no</th>
      <th>Prescription</th>
    <th>Medicine Name</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th></th>
    
  </tr>
    {% for i in data2 %}
  <tr>
    <td>{{ forloop.counter }}</td>
      <td>{{ i.prescription }}</td>
    <td>{{ i.MEDICINE.name }}</td>
    <td>{{ i.qty }}</td>
    <td>{{ i.unit }}</td>
    <td><a href="/myapp/doc_del_presc/{{ i.id }}">Delete</a></td>
  </tr>
    {% endfor %}
  <tr>

    <td><input name="button" type="submit" value="Finish" class="btn-success" /></td>
  </tr>
</table>
</form>
     <style>
     .form-control{
         background-color: #ffffff;
         color:#000000;
         }
    </style>
{% endblock %}