<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><h1 align="center">HOME PAGE</h1>
<form action="" method="get">
    <p><a href="/myapp/doc_add_prescription/">Add Prescription</a> </p>
    <p><a href="/myapp/doc_add_leave/">Add Leave</a> </p>
    <p><a href="/myapp/adm_add_tips/">Add Tips</a> </p>
    <p><a href="/myapp/adm_view_tips/">View Tips</a> </p>
    <p><a href="/myapp/adm_add_services/">Add Services</a> </p>
    <p><a href="/myapp/adm_view_services/">View Services</a> </p>
    <p><a href="/myapp/adm_add_schedule/">Add Schedule</a> </p>
    <p><a href="/myapp/adm_view_schedule/">View Schedule</a> </p>
    <p><a href="/myapp/adm_view_booking_info/">View Booking Info</a> </p>
    <p><a href="/myapp/adm_view_attendance/">View Checkin Info</a> </p>
    <p><a href="/myapp/adm_leave_approval">View Leave request and Approve</a> </p>
    <p><a href="/myapp/adm_view_patients/">View Patients</a> </p>
    <p><a href="/myapp/adm_feedback/">View Feedback</a> </p>

    <p><a href="/myapp/adm_view_sales_report_main/">View Sales Report</a> </p>
    <p><a href="/myapp/admin_view_stock/">View Stock</a> </p>
</form>
</body>
</html>

