{% extends  'doctorindex.html' %}
{% block body %}
<h1 align="center">Leave Status</h1>
<form action="" method="post">
<table class="table table-bordered" align="center" style="width: 1000px">
  <tr>
    <th>Sl.No</th>

    <th>From Date</th>
    <th>To Date</th>
    <th>Reason</th>
    <th>Type</th>
    <th >Status</th>
  </tr>
     {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>

    <td>{{ i.date }}</td>
    <td>&nbsp;{{ i.to_date }}</td>
    <td>{{ i.reason }}</td>
    <td>{{ i.type }}</td>
    <td>{{ i.leave_status }}</td>



  </tr>
    {% endfor %}
</table>


</form>
{% endblock %}