<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LOGIN</title>
</head>

<body>
<h1 align="center"> LOGIN</h1>

<form action="" method="get">
  <table  align="center"
>
    <tr>
    <td width="120">User Name</td>
    <td width="167"><input name="input" type="text" />
      </td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input name="input" type="Password" /></td>
  </tr><tr>
  <td></td>
  <td><input name="input2" type="button" value="LOGIN" /></td></tr>
</table>
</form>
</body>
</html>
