
{% extends  'doc_index.html' %}
{% block body %}
    <br>
    <br>
    <br>
<h1 align="center">NEXT VISIT</h1> <br>
    <br>
    <br>

<form action="/myapp/doc_add_next_visit_post/" method="post">

<table class="table table-bordered"  align="center" style="width: 600px">
 <tr>
    <td>Patient name</td>
    <td>{{ pat_name }}</td>
</tr>
  <tr>
    <td>Enter Date</td>
    <td><input name="date" id="date" type="date" class="form-control" required /></td>>
  </tr>
  <tr>

    <td align="center"><input name="button" Value="Add" type="submit" class="btn-success" /></td>
  </tr>
</table>
</form>
      <style>
     .form-control{
         background-color: #ffffff;
         color:#000000;
         }
    </style>
{% endblock %}