{% extends  'doctorindex.html' %}
{% block body %}
    <br>
    <br>
    <br>
<h1 align="center">NEXT VISIT</h1> <br>
    <br>
    <br>

<form action="/myapp/doc_add_next_visit_post/" method="post">

<table class="table table-bordered"  align="center" style="width: 600px">
 <tr>
    <td>Patient name</td>
    <td>{{ pat_name }}</td>
</tr>
  <tr>
    <td>Enter Date</td>
    <td><input name="date" id="date" type="date" class="form-control" required /></td>>
  </tr>
  <tr>

    <td align="center"><input name="button" Value="Add" type="submit" class="btn-success" /></td>
  </tr>
</table>
</form>
      <style>
     .form-control{
         background-color: #ffffff;
         color:#000000;
         }
    </style>
 <script>
       var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("date").setAttribute("min", today);


 </script>
{% endblock %}