{% extends  'doctorindex.html' %}
{% block body %}<br><br>
<h1 align="center">View Schedule</h1><br><br>
<form action="/myapp/doc_view_schedule/" method="post">
<table class="table table-bordered"style="width: 1300px" align="center">
  <tr>
    <th>Sl.No</th>
    <th >Doctor Name</th>
    <th >Day</th>
     <th>From time</th>
      <th>To time</th>
{#      <th>Booking Fee</th>#}

  </tr>
     {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.EMPPLOYEE.emp_name}}</td>
    <td>{{  i.day}}</td>
    <td>{{  i.from_time}}</td>
    <td>{{  i.to_time}}</td>
{#    <td>{{  i.fee}}</td>#}


  </tr>
    {% endfor %}
</table>


</form>
{% endblock %}