{% extends  'doctorindex.html' %}
{% block body %}

<br><br><br>
<h1 align="center">VIEW PRESCRIPTION </h1>
    <br><br><br>
<form action="/myapp/doc_view_prescription_post/" method="post">
<table class="table table-bordered" style="width: 400px" align="center">
    <tr>
        <td>From Date</td>
        <td><input type="date" name="dd1" required class="form-control"></td>
        <td>To Date</td>
        <td><input type="date" name="dd2" required class="form-control"></td>
        <td><input type="submit" name="search" value="Go" class="btn-success"></td>

    </tr>
</table>
<table align="center" class="table table-bordered" style="width: 400px">
  <tr>
    <td>Patient name</td>
    <td>{{ pat_name }}</td>
</tr>



</table>
<table align="center" class="table table-bordered" style="width: 1000px">
    <th>Sl.No</th>
    <th>Prescription</th>
    <th>Date</th>
    <th>Medicine Name</th>
    <th>Quantity</th>
    <th>Unit</th>



    {% for i in data2 %}
  <tr>
    <td>{{ forloop.counter }}</td>
      <td>{{ i.pre_name }}</td>
      <td>{{ i.date }}</td>
    <td>{{ i.mname }}</td>
    <td>{{ i.qty }}</td>
    <td>{{ i.unit }}</td>

  </tr>
    {% endfor %}
  <tr>
</table>

</form>
{% endblock %}
