{% extends  'doc_index.html' %}
{% block body %}

<br><br><br>
<h1 align="center">VIEW PRESCRIPTION </h1>
<form action="/myapp/doc_view_medicine/" method="get">
<table class="table table-bordered" style="width: 400px" align="center">
  <tr>
    <td>From Date</td>
    <td><select name=""></select></td>
    <td>To Date</td>
    <td><select name=""></select></td>
  </tr>
</table>
<table align="center" class="table table-bordered" style="width: 400px">
  <tr>
    <td>Patient name</td>
    <td>{{ pat_name }}</td>
</tr>
<tr>
    <td>Date</td>
    <td>{{ date }}</td>
</tr>

   <tr>
       <td>VIEW MEDICINE</td>


    

    <td align="center"><a href="/myapp/doc_view_medicine/">View Medicines</a></td>
  </tr>
</table>
<table align="center" class="table table-bordered" style="width: 1000px">
    <th>Sl.No</th>
    <th>Prescription</th>
    <th>Medicine Name</th>
    <th>Quantity</th>
    <th>Unit</th>



    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
      <td>{{ i.prescription }}</td>
    <td>{{ i.MEDICINE.name }}</td>
    <td>{{ i.qty }}</td>
    <td>{{ i.unit }}</td>

  </tr>
    {% endfor %}
  <tr>
</table>

</form>
{% endblock %}
