{% extends  'adm_index.html' %}
{% block body %}<br><br>
<h1 align="center">View Prescription</h1>

</table><table align="center">
  <tr>
    <th>Sl.no</th>
    <th>Patients  Name</th>
    <th>Doctor</th>
    <th>Prescription</th>
    <th>Date</th>
    <th>Medicine</th>
    
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
        <td><a href="#">Medicine</a></td>
  </tr>
  
</table>
</table><table align="center">
  <tr>
    <th>Sl.no</th>
    <th>Medicine</th>
    <th>Quantity</th>
    <th>Unit</th>
    
    
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   
</table>

{% endblock %}