<h2 align="center"><b><U>LOGIN </U></b></h2>

<form action="/myapp/login/" method="POST">
    {% csrf_token %}

<table class="table table-bordered" style="width: 400px;" align="center">

  <tr>
    <td>Username</td>
    <td><input name="username" type="text" required /></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input name="password" type="password" required /></td>
  </tr>
  <tr>

  <td colspan="2" align="center"><input name="bb" type="submit"  value="Login"/>
  </td>
  </tr>

</table>

</form>